.container {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    justify-content: space-between;
    margin: 5rem 0 3.5rem 0;
    /* height: 70vh; */
}

.container-view {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    margin: 5rem 0 3.5rem 0;
}

.container-step0 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption {
    margin: 2rem 0rem 0rem 0rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #590219;
}

.heading {
    margin: 1rem;
    width: 100%;
    text-align: center;
}

.exercise_name {
    margin: 0.7rem 0rem 0rem 0rem;
    font-size: 1rem;
    font-weight: 600;
    color: #590219;
}

.content{
    margin: 1rem 0rem;
    width: 100%;
}

.icon {
    padding: 5px;
}

.breadcrumb{
    font-size: 0.75rem;
    font-weight: 200;
    margin: 1rem 0rem;
}

.button{
    color: white;
    background-color: #A6032F;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem;
}



input {
    size: 2rem;
    padding: 10px;
    width: 100%;
}

input[name="exercise"] {
    size: 2rem;
    padding: 10px;
    width: 100%;
    font-weight: 400;
}

.step2-body {
    margin-top: 2.5rem;
}

.exerciseSummary {
    background-color: lightgrey;
    color: white;
    width: 100%;
    padding: 1rem 1.5rem;
    position: fixed;
    top: 4rem;
    z-index: 3;
}

.exerciseRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1rem;
    font-weight: 300; 
    color: black;
    align-items: baseline;
}

.exerciseHeader {
    font-weight: 600;
    line-height: 1.5rem;
    color: #590219;
    margin: 1.5rem 0;
}

button.icon {
    border: 0;
    color: #A6032F;
    background-color: lightgrey;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}

button.white {
    background: #f9f9f9;
}

.col-icon {
    color: #A6032F;
    font-size: 0.75rem;
    
}

.col-name {
    width: 30%;
}

.col {
    flex: 0.5;  /*       distributes space on the line equally among items */
    text-align: center;
  }

.Collapsible__trigger {
    color: #590219;
    font-weight: 400;
    font-size: 0.75rem;
    text-decoration: underline;
}

.fa-minus-circle {
    color: #A6032F;
    font-size: 1rem;
}

.error-message {
    margin: 0 0 0.5rem 0;
    font-size: 0.75rem;
}
