footer {
    background-color: black;
    margin: 0;
    width: 100vw;
    color:white;
    padding: 2rem;
    text-align: center;
}

footer img {
    width: 60px;
    margin: 0 auto;
}

.info {
    font-weight: 200;
    font-size: 0.6rem;
    line-height: 0.9rem;
}