.container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 1.5rem 0;
}

.button-nav {
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.75rem;
    font-size: 0.9rem;
    /* -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -ms-appearance: none;
    -o-appearance: none;
    -appearance: none;
    outline: none; */
}

.primary {
    color: white;
    background-color: #A6032F;
    border: 2px solid #A6032F;
}

.secondary {
    color: #A6032F;
    background-color: white;
    border: 2px solid #A6032F;
}

.disabled { 
    display: none;
}